{% extends 'base.html.twig' %}

{% block title %}Test Emails !
{% endblock %}

{% block body %}

	<h1>Hello</h1>
	<p>Bonjour	{{ prenom }} {{ nom }},
	une connexion a été détécté avec l'adresse mail {{mail}}
	</p>

{% endblock %}
