{% extends 'base.html.twig' %}

{% block title %}Test Emails !
{% endblock %}

{% block body %}


	<h1>Mail envoyé !</h1>
    <a href="{{path("app_ingredient")}}">Retour aux ingrédients</a>

{% endblock %}
